body.song-blog {

  section.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    h1 {
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
