@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="main" role="main">

  <section class="hero">

    <h1 class="text-center">1.12.18</h1>

    <div class="post-cont">
      <div class="hover-pad">

        <div class="post">
          <div class="face front">
            <img src="assets/img/albums/moby_play.png" alt="">
          </div>
          <div class="face back">
            <div class="overlay"></div>
            <img src="assets/img/albums/moby_play_back.jpg" alt="">
            <iframe
            class="spotify-widget"
            src="https://open.spotify.com/embed?uri=spotify:track:3oKtE2nfEm389qJKkFsf5k"
            width="45%"
            height="55%"
            frameborder="0"
            allowtransparency="true">
            </iframe>
          </div>
        </div>

      </div>
    </div>

  </section>

</main>

@@include('../fixtures/_footer.html')
